# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
requests2
beautifulsoup4
pymssql
aiohttp
scrapy
scrapyd
scrapyd-mongodb